[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docutils = ">=0.14"
Genshi = ">=0.7"
Pygments = "==2.0.2"

[dev-packages]
nose = "==1.3.7"
tox = "==2.3.1"
"beautifulsoup4" = "==4.4.1"
"flake8" = "*"
pudb = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
