[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docutils = ">=0.14"
Genshi = ">=0.7"
Pygments = ">=2.3.0"

[dev-packages]
nose = "*"
tox = "*"
"beautifulsoup4" = "*"
"flake8" = "*"
pudb = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
pytest = "*"
